<nav>
    <div class="site-title">
      <a href="/"><h1>Node.js Again!</h1></a>
      <p>A Node.js Site</p>
    </div>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/songs/create">New Song</a></li>
    </ul>
  </nav>